#canvas {
  position: relative;
  margin: 0 auto;
  border: 5px solid purple;
  width: 80%;
}

img {
  display:block;
  width: 100%;
}

#tags, #selection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tag {
  position: absolute;
  width: 10%;
  height: 14%;
  border: 5px solid purple;
}

.selectionContainer {
  position: absolute;
  width: 35%;
  height: 50%;
}

.preTag {
  float: left;
  width: 30%;
  height: 40%;
  border: 5px solid purple;
}

.nameList {
  float: left;
  margin-left: 20px;
}

.name {
  border: 2px solid purple;
  color: purple;
  background: pink;
  width: 150px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
}

.name:hover {
  background: purple;
  color: pink;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}